In [ ]:
import requests
import xmltodict
import json
import numpy as np
import pandas as pd
from tqdm.notebook import tqdm

In [ ]:
def mprcTotalCount(month):
    url = 'http://apis.data.go.kr/1192000/select0090List/getselect0090List'
    query = {
        'serviceKey': '4zNXftfpIAhhRRJLlpBmH8qMqYRZBgNxXWDoHow+WR1Di3VuLplaDdiTX/X3pooreCQBuT4dtCX1ENw8EX4x/Q==', 
        'numOfRows': 100, 
        'pageNo': 1, 
        'baseDt': month, 
        'type': 'xml'
    }
    res = requests.get(url = url, params = query)
    dat = xmltodict.parse(xml_input = res.text)
    totalCount = int(dat['responseXml']['header']['totalCount'])
    return totalCount

In [ ]:
mprcTotalCount(month = '202503')

# JSON 문자열을 딕셔너리로 변환
dat = json.loads(s = res.text)

# XML 문자열을 딕셔너리로 변환
dat = xmltodict.parse(xml_input = res.text)

In [ ]:
def mprcDataFrame(month, page = 1, rows = 100):
    url = 'http://apis.data.go.kr/1192000/select0090List/getselect0090List'
    query = {
        'serviceKey': '4zNXftfpIAhhRRJLlpBmH8qMqYRZBgNxXWDoHow+WR1Di3VuLplaDdiTX/X3pooreCQBuT4dtCX1ENw8EX4x/Q==', 
        'numOfRows': rows, 
        'pageNo': page, 
        'baseDt': month, 
        'type': 'xml'
    }
    res = requests.get(url = url, params = query)
    dat = xmltodict.parse(xml_input = res.text)
    df = pd.DataFrame(data = dat['responseXml']['body']['item'])
    return df

In [ ]:
mprcDataFrame(month = '202503')

In [ ]:
def mprcDataset(month, rows = 100):
    totalCount = mprcTotalCount(month = month)
    pages = np.ceil(totalCount / rows).astype(int).item()
    dfs = pd.DataFrame()
    for page in tqdm(range(pages), desc = month):
        page += 1
        df = mprcDataFrame(month = month, page = page, rows = rows)
        dfs = pd.concat(objs = [dfs, df], ignore_index = True)
    return dfs

In [ ]:
import time

In [ ]:
dfs = pd.DataFrame()
for month in tqdm(range(202401, 202413)):
    df = mprcDataset(month = str(month))
    dfs = pd.concat(objs = [dfs, df], ignore_index = True)
    time.sleep(1)

In [ ]:
dfs.shape

In [ ]:
import os

In [ ]:
os.chdir(path = '../data')

In [ ]:
dfs.to_excel('MPRC_Data_2024.xlsx', index = False)

In [ ]:
os.listdir()

In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
os.getcwd()

'C:\\Users\\USER\\Documents\\project\\code'

In [3]:
os.chdir(path = '../data')

In [4]:
os.listdir()

['APT_Detail_Seoul_2024.csv',
 'APT_Detail_Seoul_2024.xlsx',
 'APT_List.pkl',
 'APT_Prep.pkl',
 'APT_Price_Gangnam_2024.xlsx',
 'APT_Price_Seoul(2020~2024).xlsx',
 'APT_Price_Seoul_2020.csv',
 'APT_Price_Seoul_2021.csv',
 'APT_Price_Seoul_2022.csv',
 'APT_Price_Seoul_2023.csv',
 'APT_Price_Seoul_2024.csv',
 'MPRC_Data_2024.xlsx',
 'NA_Sample.xlsx',
 'pivot.xlsx',
 'test.csv']

In [5]:
dfs = pd.read_excel('MPRC_Data_2024.xlsx')

In [6]:
dfs.head()

,stdYymm,nationCode,mprcExipitmCode,imxprtSeCode,nationNm,ecoblNm,mprcExipitmNm,imxprtSeNm,imxprtWt,imxprtDollarAmount
0,202401,AE,106199000,E,아랍에미리트연합,걸프협력회의,기타 포유동물,수출,17.5,455
1,202401,AE,301998000,E,아랍에미리트연합,걸프협력회의,넙치(활어),수출,798.2,19735
2,202401,AE,302240000,E,아랍에미리트연합,걸프협력회의,터벗(신선 또는 냉장)(프세타 맥시마),수출,304.0,11425
3,202401,AE,303510000,E,아랍에미리트연합,걸프협력회의,"청어(클루페아 하렌구스,클루페아 팔라시)",수출,20.0,638
4,202401,AE,303540000,E,아랍에미리트연합,걸프협력회의,"고등어(스콤버 스콤브루스,스콤버 오스트랄라시쿠스,스콤버 자포니쿠스)",수출,170.0,1472

In [7]:
dfs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32380 entries, 0 to 32379
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   stdYymm             32380 non-null  int64
 1   nationCode          32373 non-null  object
 2   mprcExipitmCode     32380 non-null  int64
 3   imxprtSeCode        32380 non-null  object
 4   nationNm            32380 non-null  object
 5   ecoblNm             27440 non-null  object
 6   mprcExipitmNm       32380 non-null  object
 7   imxprtSeNm          32380 non-null  object
 8   imxprtWt            32380 non-null  float64
 9   imxprtDollarAmount  32380 non-null  int64
dtypes: float64(1), int64(3), object(6)
memory usage: 2.5+ MB

In [8]:
dfs.columns

Index(['stdYymm', 'nationCode', 'mprcExipitmCode', 'imxprtSeCode', 'nationNm',
       'ecoblNm', 'mprcExipitmNm', 'imxprtSeNm', 'imxprtWt',
       'imxprtDollarAmount'],
      dtype='object')

In [9]:
cols = ['stdYymm', 'nationNm', 'mprcExipitmNm', 'imxprtSeNm', 'imxprtWt', 'imxprtDollarAmount']
dfs = dfs.loc[:, cols]
dfs.head()

,stdYymm,nationNm,mprcExipitmNm,imxprtSeNm,imxprtWt,imxprtDollarAmount
0,202401,아랍에미리트연합,기타 포유동물,수출,17.5,455
1,202401,아랍에미리트연합,넙치(활어),수출,798.2,19735
2,202401,아랍에미리트연합,터벗(신선 또는 냉장)(프세타 맥시마),수출,304.0,11425
3,202401,아랍에미리트연합,"청어(클루페아 하렌구스,클루페아 팔라시)",수출,20.0,638
4,202401,아랍에미리트연합,"고등어(스콤버 스콤브루스,스콤버 오스트랄라시쿠스,스콤버 자포니쿠스)",수출,170.0,1472

In [10]:
dfs.columns = ['기준년월', '국가명', '품목명', '수출입', '중량', '달러']
dfs.head()

     기준년월       국가명                                    품목명 수출입     중량     달러
0  202401  아랍에미리트연합                                기타 포유동물  수출   17.5    455
1  202401  아랍에미리트연합                                 넙치(활어)  수출  798.2  19735
2  202401  아랍에미리트연합                  터벗(신선 또는 냉장)(프세타 맥시마)  수출  304.0  11425
3  202401  아랍에미리트연합                 청어(클루페아 하렌구스,클루페아 팔라시)  수출   20.0    638
4  202401  아랍에미리트연합  고등어(스콤버 스콤브루스,스콤버 오스트랄라시쿠스,스콤버 자포니쿠스)  수출  170.0   1472

In [11]:
dfs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32380 entries, 0 to 32379
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   기준년월    32380 non-null  int64
 1   국가명     32380 non-null  object
 2   품목명     32380 non-null  object
 3   수출입     32380 non-null  object
 4   중량      32380 non-null  float64
 5   달러      32380 non-null  int64
dtypes: float64(1), int64(2), object(3)
memory usage: 1.5+ MB

In [12]:
dfs['기준년월'] = pd.to_datetime(arg = dfs['기준년월'].astype(str) + '01', format = '%Y%m%d')
dfs.head()

,기준년월,국가명,품목명,수출입,중량,달러
0,2024-01-01,아랍에미리트연합,기타 포유동물,수출,17.5,455
1,2024-01-01,아랍에미리트연합,넙치(활어),수출,798.2,19735
2,2024-01-01,아랍에미리트연합,터벗(신선 또는 냉장)(프세타 맥시마),수출,304.0,11425
3,2024-01-01,아랍에미리트연합,"청어(클루페아 하렌구스,클루페아 팔라시)",수출,20.0,638
4,2024-01-01,아랍에미리트연합,"고등어(스콤버 스콤브루스,스콤버 오스트랄라시쿠스,스콤버 자포니쿠스)",수출,170.0,1472

dfs = dfs.astype(dtype = {'중량': float, '달러': int})
dfs.dtypes

In [13]:
dfs['국가명'].nunique()

166

In [14]:
dfs['품목명'].nunique()

495

In [15]:
dfs['수출입'].nunique()

2

In [22]:
pvt = pd.pivot_table(data = dfs, index = '국가명', columns = '수출입', values = '달러', 
                     aggfunc = 'sum', fill_value = 0)
pvt = pvt.reset_index()
pvt.columns.name = None
pvt['무역수지'] = pvt['수출'] - pvt['수입']
pvt = pvt.sort_values(by = '무역수지', ascending = False)

In [24]:
display(pvt.head(n = 10))
display(pvt.tail(n = 10))

       국가명         수입         수출       무역수지
115     일본  165086745  569534431  404447686
48      미국  255335348  459702476  204367128
140     태국  152328359  227961337   75632978
158    프랑스   14680869   59490716   44809847
12   나이지리아      19893   44619039   44599146
0       가나        262   37417317   37417055
128  코르디봐르          0   25618589   25618589
162    필리핀   37714611   60649007   22934396
23      독일    2287398   21470304   19182906
112   이탈리아   23104305   40213904   17109599

       국가명          수입         수출       무역수지
86   아르헨티나    56344563      42922  -56301641
20      대만   132091073   65377713  -66713360
39     멕시코    75600771    7707370  -67893401
154     페루   143161472     483717 -142677755
121     칠레   189502298    5791814 -183710484
114    인디아   189688140     889014 -188799126
56     베트남   757045845  226629355 -530416490
16    노르웨이   601838349    4864129 -596974220
28     러시아   719091404   98463286 -620628118
117     중국  1470414893  542407817 -928007076

In [34]:
dfs['품목명'].value_counts().reset_index().to_excel('MPRC_item.xlsx', index = False)

In [33]:
dfs['품목명'] = dfs['품목명'].str.replace(pat = r'(\(|\[|\{).+', repl = '', regex = True)

In [35]:
# pvt에서 일본을 필터링하고 nat라는 변수에 할당
# nat로 피벗 테이블을 생성하는데 '국가명' 대신 '품목명'을 사용해서
# 대일본 수출 및 수입 상위 10위 품목명이 무엇인지 확인보세요.
nat = dfs.loc[dfs['국가명'].eq('일본'), :]
pvt = pd.pivot_table(data = nat, index = '품목명', columns = '수출입', values = '달러', 
                     aggfunc = 'sum', fill_value = 0)
pvt = pvt.reset_index()
pvt.columns.name = None
pvt_exp = pvt.sort_values(by = '수출', ascending = False)
pvt_imp = pvt.sort_values(by = '수입', ascending = False)

In [47]:
def mprcByNation(nation):
    nat = dfs.loc[dfs['국가명'].eq(nation), :]
    pvt = pd.pivot_table(data = nat, index = '품목명', columns = '수출입', values = '달러', 
                         aggfunc = 'sum', fill_value = 0)
    pvt = pvt.reset_index()
    pvt.columns.name = None
    pvt_exp = pvt.sort_values(by = '수출', ascending = False).head(n = 10).reset_index(drop = True).drop(columns = '수입')
    pvt_imp = pvt.sort_values(by = '수입', ascending = False).head(n = 10).reset_index(drop = True).drop(columns = '수출')
    pvt_all = pd.concat(objs = [pvt_exp, pvt_imp], axis = 1)
    return pvt_all

In [48]:
mprcByNation(nation = '일본')

      품목명         수출         품목명        수입
0       김  178756914           돔  38556711
1  다랑어 기타   75739524  가리비과의조개 기타  35778087
2      전복   36261662          방어  33453621
3     붕장어   24969846     가리비과의조개   7728621
4      넙치   23651054        기타어류   7725888
5     전갱이   18332206         생선묵   4893075
6    눈다랑어   18128005          명태   4058003
7       톳   15543913     기타 포유동물   3522079
8     황새치   15172209     가오리와 홍어   2719831
9   냉동한 것   14555034          기타   2058301

In [49]:
mprcByNation(nation = '중국')

               품목명        수출           품목명         수입
0                김  80034811            기타  231358922
1               기타  49464124            낙지  212581809
2               삼치  44784035            조기  120020383
3             참다랑어  33344071  기타의 새우류의 새우살   86757563
4  가다랑어 또는 줄무늬버니토우  33119422           뱀장어   76281150
5           갑각류 기타  25361703         조미오징어   64747033
6               명태  23510328            아귀   58365762
7              생선묵  21064890       기타 냉동연육   45144770
8               대구  20630214           바지락   37731122
9              해파리  18809183         어류조제품   34753306

In [50]:
mprcByNation(nation = '러시아')

               품목명        수출      품목명         수입
0                김  86691818       명태  181549348
1              고등어   4311215       대게  119025306
2             기타어류   2316147        게   86760051
3              생선묵   1454738       명란   59475284
4         스리루리나 효모   1371286    기타 어류   56170146
5               청어    810417   갑각류 기타   46090605
6               미역    473073       기타   34641121
7          기타소금,해수    244192       대구   26624959
8              천일염    188086    기타넙치류   18621773
9  가다랑어 또는 줄무늬버니토우    159800  명태 냉동연육   17768266

In [51]:
mprcByNation(nation = '베트남')

                품목명        수출           품목명         수입
0                 김  33097188  기타의 새우류의 새우살  175408499
1                삼치  27860700           쭈꾸미  121794003
2              황다랑어  24198199           새우류  110032934
3            갑각류 기타  22030815       기타 냉동연육   87288997
4  어류외기타 분.조분 및 펠리트  19997175            기타   33877561
5                명란  16320715            낙지   31838721
6                 게   7689783           쥐치포   25511788
7   가다랑어 또는 줄무늬버니토우   7059721          갑오징어   25403556
8              기타어류   6671088          다랭이류   18216650
9                넙치   5979093   염장이나 염수장한 것   14204102

In [52]:
mprcByNation(nation = '미국')

        품목명         수출          품목명        수입
0         김  207420963      명태 냉동연육  48311979
1      이빨고기   55920934           기타  19915381
2        넙치   19579804         기타어류  17601076
3       생선묵   15092222          가자미  12489947
4     냉동한 것   12663236  그 밖의 태평양 연어  11411562
5         굴   10589008           대구  11392307
6        기타    9614619         임연수어  11373186
7    오징어 기타    9531414          먹장어  10350322
8  기타어류의 기타    8567231        기타넙치류   8920284
9    다랑어 기타    7165061           명태   8373325

In [54]:
mprcByNation(nation = '페루')

                  품목명      수출             품목명        수입
0                  기타  415582          오징어 기타  50999075
1                   김   67696           흰다리새우  37740405
2              순염화나트륨     273              기타  25719148
3                  식염     166    기타의 새우류의 새우살   7196142
4            기타어류의 기타       0  어류의 분.조분 및 펠리트   5551813
5  갑오징어, 기타조제저장처리갑오징어       0          붕장어의 것   5045133
6             가리비과의조개       0              성게   4284179
7               냉동한 것       0           냉동한 것   3179570
8        기타의 새우류의 새우살       0         캐비아 대용물   2080086
9                  문어       0           조미오징어   1167840